/*
TODO:
- Make it responsive
  + Center content
  + Make color inversion triangle contained in content
- Improve CSS effect to make page more readable (look for different location).
  + Add buttons for day/night/mid
  + Animate transitions between day/night/mid using the color inversion snippet
- Remove and rebuild default browser styling
*/

body {
    font-size: 20px;
    background-color: black;
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 1rem;
}
@media (min-width: 1201px) {
    #content {
        width: 1200px;
    }
}
@media (min-width: 501px) {
    body {
        font-size: 25px;
    }
}

/* fonts */
/* h1, h2, h3, header * {
  font-family: 'Merriweather', serif;
}
body, p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
} */
/* h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
body, p {
  font-family: 'Lato', Arial, sans-serif;
} */
/* h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
body, p {
  font-family: 'Open Sans', Arial, sans-serif;
} */
h1, h2, h3, header * {
  font-family: 'IBM Plex Sans', sans-serif;
}
body, p {
  font-family: 'IBM Plex Serif', serif;
}
p {
    text-align: justify;
}


/* links */
a {
    color: darkslateblue
}
a:hover {
    color: darkolivegreen;
}
a:visited {
    color: darkslategray;
}

/* Color inversion */
.triangle-invert {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  /* Make the div into a triangle */
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  background: transparent;
  backdrop-filter: invert(0.8);
  -webkit-backdrop-filter: invert(1);
  pointer-events: none; /* Let clicks pass through */
  position: fixed; /* or relative/fixed as needed */
  top: 0;
  left: 0;
}