/*
TODO:
- Improve CSS effect to make page more readable (look for different location).
  + Animate transitions between day/night/mid using the color inversion snippet
- Fonts
- Remove and rebuild default browser styling
*/

body html {
  height: 100%;
  margin: 0;
}
body {
    font-size: 20px;
    background-color: rgb(51, 51, 51);
}
#container {
    height: 95vh;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#content {
    background-color: white;
    margin: 0;
    padding: 0 1rem;
    height: 95vh;
    overflow: auto;
    scrollbar-width: thin;
}

/* fonts */
/* h1, h2, h3, header * {
  font-family: 'Merriweather', serif;
}
body, p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
} */
/* h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
body, p {
  font-family: 'Lato', Arial, sans-serif;
} */
/* h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
body, p {
  font-family: 'Open Sans', Arial, sans-serif;
} */
h1, h2, h3, header * {
  font-family: 'IBM Plex Sans', sans-serif;
}
body, p {
  font-family: 'IBM Plex Serif', serif;
}
p {
    text-align: justify;
}


/* links */
a {
    color: darkslateblue;
}
a:hover {
    color: darkolivegreen;
}
a:visited {
    color: darkslategray;
}

/* Color inversion */
.triangle-invert {
  display: block;
  z-index: 1;
  width: 100%;
  height: 95vh;
  /* Make the div into a triangle */
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  background: transparent;
  backdrop-filter: invert(0.8);
  -webkit-backdrop-filter: invert(1);
  pointer-events: none; /* Let clicks pass through */
  position: absolute; 
  top: 0;
  left: 0;
}

/* responsive */
@media (min-width: 1201px) {
    #container {
        width: 1200px;
    }
}
@media (min-width: 501px) {
    body {
        font-size: 25px;
    }
}

/* Clickable icons */
.icon-radio {
  display: none;
}

.icon-label {
  position: absolute;
  display: inline !important;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  transition: filter 0.2s;
  user-select: none;
}
#opt3 + .icon-label {
  top: 1rem;
  right: 2.3rem;
}
#opt2 + .icon-label {
  top: 1rem;
  right: 4.3rem;
}
#opt1 + .icon-label {
  top: 1rem;
  right: 6.3rem;
}
.icon-radio:checked + .icon-label {
  filter: drop-shadow(0 0 4px #7a7c7f);
  opacity: 1;
}

.icon-label + .icon-radio,
.icon-label:last-of-type {
  margin-right: 0;
}

/* Show content when the corresponding radio is checked */
#opt1:checked ~ .triangle-invert { display: none; }