/*
TODO:
- Pick the right fonts
- Make text justified
- Improve styling of links 
- Make it responsive
- Improve CSS effect to make page more readable (look for different location).
  + Add buttons for day/night/mid
  + Animate transitions between day/night/mid using the color inversion snippet
*/

body {
    font-size: 25px;
    background-color: black;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 1rem;
}

/* fonts */
h1, h2, h3, header * {
  font-family: 'Merriweather', serif;
}
body, p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

/* links */
a {
    color: darkslateblue
}
a:hover {
    color: darkolivegreen;
}
a:visited {
    color: darkslategray;
}

/* Color inversion */
.triangle-invert {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  /* Make the div into a triangle */
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  background: transparent;
  backdrop-filter: invert(0.8);
  -webkit-backdrop-filter: invert(1);
  pointer-events: none; /* Let clicks pass through */
  position: fixed; /* or relative/fixed as needed */
  top: 0;
  left: 0;
}